<footer id="shopbanx-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-footer">
        <div><b>Endereço</b>: Rua Cláudio Soares, 72 - Pinheiros, São Paulo - Brasil</div>
        <div><b>Nexoos Sociedade de Empréstimo Entre Pessoas S.A.</b></div>
        <div><b>CNPJ</b>: 34.254.279/0001-51</div>
      </div>
      <div class="col-md-6 col-footer">
        <div><i class="fa fa-envelope mr-2"></i><b>E-mail</b>: <a href="mailto:XXXXXXXXXXS@nexoos.com.br">XXXXXXXXXXS@nexoos.com.br</a></div>
        <div><i class="fa fa-phone mr-2"></i><b>Telefone</b>: (11) XXXX-XXXX</div>
        <div>Copyright NEXOOS © 2020. Todos os Direitos Reservados.</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-footer text-center pt-3">
        <b>Powered by Nexoos.</b>
      </div>
    </div>
  </div>
</div>
